.news__list {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.news__list h1 {
  font-family: var(--fontStackSecondary);
  margin-bottom: 30px;
  text-transform: uppercase;
}
.news__list-inner {
  max-width: calc(100% - 40px);
  width: 950px;
}
