.panel__minimap-title-button {
  position: absolute;
  top: 0px;
}
.panel__minimap-title-button-attach {
  left: 0;
}
.panel__minimap-title-buttons-right {
  align-items: center;
  display: flex;
  right: 0;
}
.panel__minimap-title-buttons-right a {
  font-size: 18px;
  margin-left: 0.2rem;
  margin-top: -2px;
}

.panel__minimap-title {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.panel__minimap-title h1 {
  margin: 0;
}
