.panel__minimap-title-button {
  position: absolute;
  top: 0px;
}
.panel__minimap-title-button-attach {
  left: 0;
}
.panel__minimap-title-buttons-right {
  align-items: center;
  display: flex;
  right: 0;
}
.panel__minimap-title-buttons-right a {
  font-size: 18px;
  margin-left: 0.3rem;
  margin-top: -2px;
  position: relative;
}
.panel__minimap-title-buttons-right a:hover::after {
  visibility: visible;
}
.panel__minimap-title-buttons-right a::after {
  border: 1px solid #2468e5;
  bottom: -3px;
  content: '';
  display: inline-block;
  left: 0;
  position: absolute;
  visibility: hidden;
  width: 100%;
}

.panel__minimap-title {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.panel__minimap-title h2 {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  text-transform: uppercase;
}
