@import 'style/font';
@import 'style/button';
@import 'style/theme';

.news__item {
  max-width: 950px;
  width: calc(100vw - 50px);
}
.news__item-content {
  display: flex;
}
.news__item-date {
  font-size: 1.2rem;
}
.news__item-details {
  margin-top: 20px;
  text-align: justify;
}
.news__item-details a {
  text-decoration: underline;
}
.news__item-details a:link,
.news__item-details a:visited {
  color: $primary-medium;
}
.news__item-details a:focus,
.news__item-details a:hover,
.news__item-details a:active {
  color: $accent-light;
}
.news__item-headline {
  font-family: $TitleFont;
  font-size: 1.5rem;
  font-weight: bold;
}
.news__item-navlink,
.news__item-navlink:hover,
.news__item-navlink:visited, {
  color: $accent-dark;
}
.news__item-share-button {
  @extend .nobutton;
}
.news__item-share-buttons-title {
  font-weight: 600;
}
.news__item-navbutton-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  left: 0;
  margin-top: 10px;
  position: relative;
  top: 0;
}
.news__item-navbutton-container > *:not(:last-child) {
  margin-right: 5px;
}
.news__item-share-buttons-title {
  margin-left: 10px;
}
.news__item-story {
  margin-left: 50px;
}
@media screen and (max-width: 679px) {
  .news__item-story {
    margin-left: 0;
  }
  .news__item-share-buttons-title {
    margin: 0 5px 0 10px;
  }
}
