.analysis__advanced-field-modal-img {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.analysis__advanced-field-modal-img_padding {
  padding: 20px 0;
}

.analysis__advanced-help-header {
  font-size: 1.1em;
}