.heatmap__annotation {
  cursor: pointer;
}

.heatmap__annotation-times {
  visibility: hidden;
}

.heatmap__annotation-times .fa-primary {
  fill: #fff;
}
.heatmap__annotation-times .fa-secondary {
  fill: var(--warning);
}

.heatmap__annotation_moving {
  cursor: move;
  user-select: none;
}

.heatmap__annotation:not(.heatmap__annotation_moving):hover .heatmap__annotation-times {
  visibility: visible;
}
.heatmap__annotation_moving .heatmap__annotation-times {
  visibility: hidden;
}
