.list {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.list h1 {
  font-family: var(--fontStackSecondary);
  margin-bottom: 30px;
  text-transform: uppercase;
}
.list h1 svg {
  color: var(--accentPrimary1);
  margin-right: 10px;
}
.list__inner {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 40px);
  width: 950px;
}
.list__rss {
  margin-left: auto;
}