.list__item {
  margin-bottom: 10px;
}
.list__item:not(:last-of-type) {
  border-bottom: 1px solid rgb(232, 232, 232);
  padding-bottom: 20px;
}
.list__item h2 {
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
}
.list__item p {
  margin-top: 10px;
}
.list__item p,
.list__item > time {
  opacity: 0.9;
}