.utilities {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  margin-bottom: 1.4rem;
}
.utilities__inner {
  max-width: calc(100% - 3rem);
  width: 950px;
}

.utilities__file,
.utilities__select {
  padding-bottom: 0rem;
}
.utilities__file > *,
.utilities__select > *,
.utility > * {
  margin: 0.5rem 0;
}
.utilities__file > *:first-child,
.utilities__select > *:first-child {
  margin: 2rem 0;
}

.utility__description {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
  border-radius: 3px;
  padding: 1rem;
}
.utility__inputs {
  display: flex;
  flex-direction: column;
  margin: -1rem;
  margin-top: 1rem;
}
.utility__inputs > * {
  margin: 1rem;
  max-width: 295px;
  min-width: calc((100% - 6rem) / 3);
}
.utility__inputs > .utility__input_medium {
  flex: 1;
  max-width: unset;
  min-width: calc((100% - 4rem) / 2);
}
.utility__submit {
  align-items: center;
  display: flex;
  margin-top: 2rem;
  width: 100%;
}
.utility__submit-progress > svg {
  margin: 0 0.5rem 0 1rem;
}

@media (max-width: 900px) {
  .utility__inputs > * {
    min-width: calc((100% - 4rem) / 2);
  }
  .utility__inputs > .utility__input_medium {
    min-width: calc(100% - 2rem);
  }
}

@media (max-width: 600px) {
  .utility__inputs > * {
    min-width: calc(100% - 2rem);
  }
}