.circheatmap__segment-path {
  cursor: pointer;
  pointer-events: all;
  transition: transform 0.3s cubic-bezier(.17, .67, .16, .99);
}

.circheatmap__text,
.circheatmap__text_hovered {
  pointer-events: none;
}

