.help__privacy label {
  margin-right: 10px;
}
.help__privacy-status {
  margin: 0 5px;
}

.help__privacy-switch {
  align-items: center;
  display: flex;
}
.help__privacy-switch > .input__container {
  margin-right: 8px;
  margin-top: 5px;
}