.help__privacy label {
  margin-right: 10px;
}
.help__privacy-status {
  margin: 0 5px;
}

.help__privacy-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.help__privacy-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.help__privacy-switch-slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}
.help__privacy-switch-slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}
.help__privacy-switch > input:disabled + .help__privacy-switch-slider {
  cursor: not-allowed;
}
.help__privacy-switch > input:checked + .help__privacy-switch-slider {
  background-color: var(--colorPrimary1);
}
.help__privacy-switch > input:focus + .help__privacy-switch-slider {
  box-shadow: 0 0 1px var(--colorPrimary1);
}
.help__privacy-switch > input:checked + .help__privacy-switch-slider:before {
  transform: translateX(20px);
}

.help__privacy-switch-container {
  margin: 15px 0;
}