.panel__save-image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.panel__save-image .select__container {
  width: 200px;
}
.panel__save-image .select__container input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.panel__save-image button {
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 30px;
  width: 30px;
}

.panel__save-message_error,
.panel__save-message_exporting {
  text-align: center;
}
.panel__save-message_error svg,
.panel__save-message_exporting svg {
  margin-right: 5px;
}

.panel__save-message_error svg {
  color: var(--warning);
}
.panel__save-message_exporting svg {
  color: var(--success);
}