.error-boundary {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  width: 100vw;
}

.error-boundary__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}