.heatmap__deletion {
  display: flex;
  pointer-events: none;
  position: absolute;
}

.heatmap__deletion-button-container {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  pointer-events: auto;
}

.heatmap__deletion-button-container button {
  height: calc(100% - 4px);
  width: calc(100% - 4px);
}

.heatmap__deletion-column {
  flex-direction: row;
}
.heatmap__deletion-row {
  flex-direction: column;
}