.analysis__tool .select__container {
  min-width: 150px;
  width: 150px;
}

.analysis__tool-description {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-grow: 1;
  font-size: 0.9em;
  margin-left: 30px;
  padding: 10px 15px;
}
.analysis__tool-description p {
  margin: 0;
  margin-left: 15px;
  padding: 0;
}
.analysis__tool-description svg {
  color: #1890ff;
}

.analysis__tool-select {
  display: flex;
}
