.analysis__advanced {
  margin-top: 3rem;
}

.analysis__advanced h2 {
  font-size: 1.1em;
  padding-bottom: 5px;
  text-decoration: underline rgba(0, 0, 0, 0.2) 1px;
  text-underline-offset: 0.1em;
}

.analysis__advanced section:not(:first-of-type) {
  margin-top: 3rem;
}

.analysis__advanced section > *:not(:last-child) {
  margin-bottom: 1.3rem;
}