.gprofiler-results {
  box-sizing: border-box;
  height: 100%;
  padding: 10px
}

.gprofiler-results__export svg {
  margin-right: 0.5rem;
}

.gprofiler-results__table {
  box-sizing: border-box;
  height: calc(100% - 35px);
  margin-bottom: 10px;
}