.heatmap {
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: var(--timingFunction);
}