.gprofiler__databases h3 {
  font-size: 1em;
  margin-bottom: 10px;
}

.gprofiler__databases .input__container {
  display: flex;
  flex-direction: row-reverse;
  font-size: 0.9em;
  justify-content: flex-end;
  margin: 5px 0;
}
.gprofiler__databases .input__container label {
  margin-left: 5px;
}
.gprofiler__databases .input__container .label__separator {
  display: none;
}

.gprofiler__go-options {
  margin-left: 25px;
}