.getting-started {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
}
.getting-started__tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}
@media (max-width: 768px) {
  .getting-started {
    padding: 20px;
  }
}