a.toolbox {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  height: auto;
  margin: 20px;
  max-width: 360px;
  padding: 15px 20px;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 360px;
}
a.toolbox:link,
a.toolbox:visited {
  color: var(--accentPrimary2);
}
a.toolbox:focus,
a.toolbox:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  outline: none;
  text-decoration: none;
}

.toolbox__description {
  align-items: center;
  display: flex;
  flex-grow: 1;
}
.toolbox__description > p {
  color: var(--fontDark);
  font-size: 0.9em;
  margin: 0;
  padding: 15px 0 5px 0;
  white-space: normal;
}

.toolbox__image {
  align-items: center;
  display: flex;
  font-size: 35px;
  margin-right: 15px;
}

.toolbox__title {
  align-items: center;
  border-bottom: 2px solid rgba(172, 134, 124, 0.5);
  display: flex;
  height: 30px;
  justify-content: center;
  padding-bottom: 15px;
}
.toolbox__title > h4 {
  font-size: 1.0em;
  margin: 0;
  text-transform: uppercase;
}
@media (max-width: 499px) {
  .toolbox {
    margin: 20px 0;
    width: auto;
  }
}
