.settings__image-circle h3 {
  margin: 0;
  margin-bottom: 0.3rem;
}

.settings__image-circle-draggable {
  background-color: #e6e6e6;
  border-radius: 0.2rem;
  box-sizing: border-box;
  font-size: 0.9rem;
  margin: 0.3rem 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.settings__image-circle-draggable h4 {
  margin: 0;
}

.settings__image-circle-hidden {
  margin-top: 1rem;
}

.settings__image-circle-draggable-content {
  display: grid;
  column-gap: 0.2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.panel__settings .settings__image-circle-draggable-content .input__container,
.panel__settings .settings__image-circle-draggable-content .select__container {
  display: block;
}
.panel__settings .settings__image-circle-draggable-content .input__container > label,
.panel__settings .settings__image-circle-draggable-content .select__container > label {
  text-align: left;
}

.settings__image-circle-draggable-heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
.panel__settings .settings__image-circle-draggable-heading .input__container {
  display: inline-flex;
  margin-bottom: 0;
  margin-left: auto;
  width: 60px;
}

.settings__image-circle-placeholder .settings__image-circle-draggable {
  box-shadow: 0px 2px 4px hsla(0, 0%, 0%, 0.2);
}
.settings__image-circle-placeholder .settings__image-circle-draggable .input__container {
  margin-bottom: 12px;
}

.panel__settings .settings__image-circle-draggable-content .input__container input::-webkit-outer-spin-button,
.panel__settings .settings__image-circle-draggable-content .input__container input::-webkit-inner-spin-button,
.settings__image-circle-placeholder .settings__image-circle-draggable .input__container input::-webkit-outer-spin-button,
.settings__image-circle-placeholder .settings__image-circle-draggable .input__container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.panel__settings .settings__image-circle-draggable-content .input__container input,
.settings__image-circle-placeholder .settings__image-circle-draggable .input__container input {
  -moz-appearance: textfield;
}