.settings__image-circle h3 {
  margin: 0;
  margin-bottom: 0.3rem;
}

.settings__image-circle-draggable {
  background-color: #dddddd;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  margin: 0.3rem 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.settings__image-circle-draggable h4 {
  margin: 0;
  margin-bottom: 0.3rem;
}

.settings__image-circle-draggable-content {
  display: grid;
  column-gap: 0.2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.panel__settings .settings__image-circle-draggable-content .input__container,
.panel__settings .settings__image-circle-draggable-content .select__container {
  display: block;
}

.panel__settings .settings__image-circle-draggable-content .input__container > label,
.panel__settings .settings__image-circle-draggable-content .select__container > label {
  text-align: left;
}