.minimap__detached-header-buttons_left {
  display: flex;
}
.minimap__detached-header-buttons_left > *:not(:last-child) {
  margin-right: 5px;
}
.minimap__detached-header-buttons_right {
  margin-left: auto;
}
.minimap__detached-header-buttons_right button {
  cursor: move;
}

.minimap__detached-header {
  box-sizing: border-box;
  display: flex;
  min-width: 100%;
  padding-bottom: 3px;
}

.minimap__detached-header_border {
  border-bottom: 1px solid var(--colorPrimary2);
}