body {
  margin: 0;
  padding: 0;
  --accentPrimary1: #AC867C;
  --accentPrimary2: #763626;
  --colorPrimary1: #2A3132;
  --colorPrimary2: #90AFC5;
  --colorPrimary3: #336B87;
  --fontDark: #333;
  --fontStackPrimary: Lato, sans-serif;
  --fontStackSecondary: Raleway, sans-serif;
  --timingFunction: cubic-bezier(.17, .67, .16, .99);
}

noscript {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
