.panel-search__grid {
  align-items: center;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 12px;
  grid-template-columns: 200px auto;
  justify-content: flex;
}

.panel-search__input {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.panel-search__input .input__container {
  flex-grow: 1;
}
.panel-search input {
  width: 100%;
}

.panel-search__label {
  justify-self: right;
}