.panel {
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: 0.9em;
  max-width: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 15px;
  width: 90vw;
}
.panel:after {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
}
.panel__container {
  display: flex;
  height: calc(100% - 50px);
}

.side-panel {
  background-color: #f5f5f5;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  height: calc(100% - 20px);
  max-width: 350px;
  overflow: hidden;
  position: absolute;
  right: 5px;
  top: 10px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: var(--timingFunction);
  z-index: 10;
}
.side-panel.hidden {
  transform: translateX(355px);
}
.side-panel.visible {
  transform: translateX(0);
}

.side-panel__menu {
  position: absolute;
  transition: all 0.5s ease;
  top: 17px;
  z-index: 11;
}
.side-panel__menu.hidden {
  opacity: 1;
  pointer-events: default;
  right: 5px;
}
.side-panel__menu.visible {
  opacity: 0;
  pointer-events: none;
  right: 10px;
}