.customization__list-content,
.customization__list-header {
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  display: grid;
  grid-template-columns: 120px repeat(2, 1fr) 25px;
  justify-items: center;
  padding: 0.2rem 0;
}

.customization__list-clear {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.customization__list-clear > :first-child {
  margin-right: 0.5rem;
}

.customization__list-content > *:nth-child(4n + 1) {
  justify-self: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 120px;
}
.customization__list-content input {
  background-image: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 30px;
}

.customization__list-color-indicator {
  background: transparent;
  border: none;
  border-radius: 50%;
  height: 1rem;
  padding: 0;
  width: 1rem;
}

.customization__list-delete-button {
  height: 20px;
  width: 20px;
}

.customization__list-header {
  font-weight: bold;
}