.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
}
.footer > small {
  margin-top: 10px;
}
.footer__funding {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
}
.footer__funding-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.7rem;
  max-width: 1200px;
}
.footer__funding-links a {
  margin: 0.7rem;
}
.footer > small a {
  margin-left: 4px;
}
.footer__year::after {
  content: ', ';
}
.footer__year::before {
  content: ' ';
}