.analysis__condition {
  margin-top: 50px;
}

.analysis__condition-loading {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.analysis__column-selectors > *:not(:last-child),
.analysis__condition-selectors > *:not(:last-child) {
  margin-bottom: 1rem;
}