.article {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.article a {
  text-decoration: none;
  white-space: nowrap;
}
.article a:link {
  color: #2468e5;
}
.article a:visited {
  color: #1E6C60;
}
.article a:hover,
.article a:active {
  color: #23527c;
  text-decoration: underline;
}
.article a:focus {
  color: #23527c;
  outline: none;
  text-decoration: underline;
}
.article h1 {
  font-family: var(--fontStackSecondary);
  margin-bottom: 30px;
}
.article h1 svg {
  color: var(--accentPrimary1);
  margin-right: 10px;
}
.article p {
  text-align: justify;
}
.article time {
  font-weight: bold;
}
.article__inner {
  max-width: calc(100% - 40px);
  width: 950px;
}
